.verbInputRow {
  display: flex;
  gap: 1em;
}

.showAnswerButton, .answer {
  min-width: 6em;
}

.answer {
  display: inline-block;
  text-align: center;
  padding: 0.25em 0;
  animation: fadeOut 0.5s ease-in 1.75s 1 forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}