.targetDetails {
  display: grid;
  grid-template-columns: auto auto;
  width: max-content;
  column-gap: 0.5em;
  margin-bottom: 1.5rem;
}

.targetDetails .label {
  text-align: right;
}

.targetDetails .value {
  font-weight: bold;
}

.verbInputRow {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1.5rem;
}

.verbInputRow input {
  margin-bottom: 0.5rem;
}

.verbInputRow input.submissionIncorrect {
  box-shadow: 0 0 5px 0 #b66969 inset;
  border-color: #b34343;
}

.verbInputRow .accentChars {
  display: flex;
  gap: 0.5em;
}

.verbInputRow .accentChars, 
.verbInputRow .accentChars button {
  font-size: 85%;
}

.buttonRow {
  display: flex;
  gap: 0.5em;
}

.buttonRow > .showAnswerWrapper,
.buttonRow > .submitButton {
  width: 8rem;
}

.buttonRow > .showAnswerWrapper {
  height: 2.25rem;
  border-radius: 0.5em;
  border: solid 1px var(--accent-border-color);
}

.buttonRow > .showAnswerWrapper > .showAnswerButton,
.buttonRow > .showAnswerWrapper > .answer {
  display: inline-block;
  text-align: center;
  padding: 0.25rem 0;
  line-height: 1.6rem;
  border: none;
  width: 100%;
}

.buttonRow > .showAnswerWrapper > .answer {
  animation: fadeOut 0.5s ease-in 1.75s 1 forwards;
}

.buttonRow > .submitButton {
  font-weight: bold;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}