.instructions {
  margin-bottom: 1.5rem;
  background-color: #f8f2d9;
  padding: 0.75rem 1rem;
  font-family: var(--sans-font-fam);
  border-radius: .5em;
  width: 20rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

.instructions.incorrect {
  background-color: #f8d9dd;
}

.instructions.incorrect .expected {
  font-weight: bold;
  font-style: italic;
}

.instructions.correct {
  background-color: #dff8d9;
}

.targetDetails {
  display: grid;
  grid-template-columns: auto auto;
  width: max-content;
  column-gap: 0.5em;
  margin-bottom: 1.5rem;
}

.targetDetails .label {
  text-align: right;
}

.targetDetails .value {
  font-weight: bold;
}

.verbInputRow {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1.5rem;
}

.verbInputRow input {
  margin-bottom: 0.5rem;
}

.verbInputRow .accentChars {
  display: flex;
  gap: 0.5em;
}

.verbInputRow .accentChars, 
.verbInputRow .accentChars button {
  font-size: 85%;
}

.buttonRow {
  display: flex;
  gap: 0.5em;
}

.submitButton {
  font-weight: bold;
  width: 8rem;
}
