.verbTableWrapper {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.verbTable {
  margin-bottom: 0;
}

.verbTable thead {
  background-color: var(--accent-bg-color);
  border-bottom: solid 1px var(--accent-border-color);
  border-top: solid 1px var(--accent-border-color);
}

.verbTable td,
.verbTable th {
  white-space: nowrap;
}
