ul.verbList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 8em);
  gap: 0.5em 0.25em;
  padding: 0;
}

ul.verbList li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
