.mainHeader {
  display: flex;
  gap: 0.75rem;
  padding-bottom: 1rem;
}

.mainHeader .mainHeading {
  margin-bottom: 0;
  text-transform: capitalize;
}

.mainHeader .menuToggleBtn {
  padding: 0.35rem;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainHeader .menuToggleBtn .menuToggleIcon {
  width: 100%;
  height: 100%;
}

.menuWrapper {
  position: absolute;
  left: 0; right: 0;
  bottom: 0;
  display: none;
}

.menuWrapper.menuOpen {
  display: block;
}

.menuMask {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 1;
  background-color: #9993;
  border-top: solid 1px var(--accent-border-color);
}

.menuContent {
  position: absolute;
  top: 0; bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--main-bg-color);
  padding: 0 1em 0.5em 15px;
  border-right: solid 1px var(--accent-border-color);
}

ul.menuItems {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--sans-font-fam);
  font-size: 0.9rem;
}

ul.menuItems li {
  margin-bottom: 0.5rem;
}

ul.menuItems li:last-child {
  margin-bottom: 0;
}
