ul.mainMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 0.9em;
}

ul.mainMenu li {
  margin-right: 0.5em;
}

ul.mainMenu li::after {
  content: "|";
  margin-left: 0.5em;
}

ul.mainMenu li:last-child {
  margin-right: 0;
}

ul.mainMenu li:last-child::after {
  content: "";
}

table.verbTable thead {
  background-color: #f0f0f0;
  border-bottom: solid 1px #d0d0d0;
  border-top: solid 1px #d0d0d0;
}