:root {
  --main-bg-color: #f9f9f9;
  --main-text-color: #444;
  --sans-font-fam: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  --serif-font-fam: Georgia, Times, "Times New Roman", serif;
  --accent-bg-color: #f0f0f0;
  --accent-border-color: #ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 17px;
  font-family: var(--serif-font-fam);
  line-height: 1.6;
}

body {
  padding: 15px;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1, h2, h3, h4, p, ol, ul, dl, dt, dd, pre, blockquote, table {
  margin-bottom: 1.5rem;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.15rem; }

ol, ul, dl {
  padding-left: 2em;
}

table {
  border-collapse: collapse;
}

td, th {
  text-align: left;
  padding: 0.25em 0.75em;
  font-weight: normal;
}

label {
  padding: 0.25em 0;
}

input[type=text], select, textarea, button, input[type=button] {
  font-family: var(--sans-font-fam);
  font-size: 0.85rem;
  line-height: 1.75em;
  padding: 0.25em 0.75em;
  border-radius: 0.5em;
  border: solid 1px var(--accent-border-color);
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: solid 1px #ffec90;
}

button, input[type=button] {
  background-color: var(--accent-bg-color);
}

a {
  color: #555;
}
